/* Inputs-feilds */

.auditlog-main-inputs {
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
    border-top: 1px solid #6E6E6E;
}

.auditlog-main-inputs-search {
    width: 15%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
}

.auditlog-main-inputs-search input {
    background-color: #222;
    color: #6E6E6E;
    border: 1px solid #555;
    padding: 8px
}

.auditlog-main-inputs-search-inp {
    border-radius: 5px;
    /* height: 29px; */
    /* padding: 1px; */
}

.auditlog-main-inputs-paramtr {
    width: 85%;
    padding: 20px 10px 20px 60px;
}

.auditlog-main-inputs-paramtr-flex {
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    gap: 5px;
}

/* .auditlog-main-inputs-paramtr-flex-slct {
    width: 100%;
} */

@media only screen and (min-width:650px) and (max-width:1100px) {
    .auditlog-main-inputs-paramtr-flex-slct {
        width: 40%;
    }

    .auditlog-main-inputs-paramtr-flex {
        flex-wrap: wrap;
    }

    .auditlog-main-inputs-search {
        width: 30%;
    }

    .auditlog-main-inputs-paramtr {
        width: 70%;
    }
}

@media only screen and (max-width:649px) { 
    .auditlog-main-inputs-paramtr-flex-slct {
        width: 100%;
    }

    .auditlog-main-inputs-paramtr-flex {
        flex-wrap: wrap;
        gap: 5px;

    }

    .auditlog-main-inputs-search {
        width: 20%;
    }

    .auditlog-main-inputs-paramtr {
        width: 80%;
    }
    
    /* Search-container-width-in-small-screen */
    .auditlog-main-inputs-search {
        width: 30%;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 25px;
    }

    .auditlog-main-inputs-paramtr {
        width: 70%;
        padding: 20px 10px 20px 60px;
    }
}

.form-select-input {
    background-color: #222222;
    color: white;
    height: 35px;
}

.form-control-date {
    background-color: #222222 !important;
    color: white !important;
}

.auditlog-main-inputs-paramtr-flex-slct input {
    color-scheme: dark;
}

/* form-button */

.form-control-btn {
    background-color: #ff2802 !important;
    color: white !important;
    height: 35px;
}

.form-control-btn:hover {
    background-color: #fa3917 !important;
}


