/* Skeleton Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
    flex: 10;
    height: 10px; /* Adjust as needed */
  }
  
  .table-row {
    display: flex;
    flex: 10;
    height: 10px; /* Adjust as needed */
  }
   
  .table-cell {
    flex: 10;
    height: 10px; /* Adjust as needed */
    background-color:#202020 ; /* Light gray */
border: darkslategray;
    position: relative;
    overflow: hidden;
  }
  
  /* Shimmer Effect */
  .shimmerCustom {
    flex: 10;
    height: 10px; /* Adjust as needed */
    background: linear-gradient(100deg, #202020 35%, rgb(47, 74, 79) 70%, #202020 60%);
    background-size: 200% 100%;
    animation: shimmer infinite linear;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  [data-theme-version="light"] .table-cell {
  background-color: #f0f0f0; /* Light cell background */
  color: #333; /* Optional text color if any */
}

[data-theme-version="light"] .shimmerCustom {
  background: linear-gradient(100deg, #f0f0f0 35%, #e0e0e0 50%, #f0f0f0 65%);
}
